@font-face {
  font-family: "Museo";
  src: url("font/Museo_Slab_300.otf");
}
*{
  font-family: Museo;
  font-weight: regular;
}
body {
  background: linear-gradient(to right, #de6262, #ffb88c);
}
.boundary{
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  width: 70%;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 3px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.363);
  padding: 0% 5%;
}
.boundary{
  animation: high 3s;
  animation-fill-mode: forwards;
}
@keyframes high{
  0%{
    opacity: 0;
    height: 0px;
  }
  100%{
    opacity: 1;
    height: 1000px;
  }
}
@media (max-width:768px){
  .boundary{
    top: 2%;
    width: 95%;
  }
}
.profilePic{
  text-align: center;
  margin-top: 100px;
}
.profilePic img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(90, 90, 90);
}
.profilePic .name{
  font-size: 40px;
  color: black;
  text-shadow: 0 0 3px rgb(54, 54, 54);
}
.profilePic .bio{
  font-family: Alegreya;
  font-size: 25px;
}