@font-face {
  font-family: "Museo";
  src: url("font/Museo_Slab_300.otf");
}
@font-face {
  font-family: "Brandon";
  src: url("font/Brandon_reg.woff");
}
* {
  font-family: Brandon;
  font-weight: regular;
}
html{
  scroll-behavior: smooth;
}
.light{
  background: linear-gradient(to right, #3a7bd5, #00d2ff); 
}
.dark{
  background: black;
  color: white;
}
.dark a{
  color: white;
}
.dark hr{
  background-color: white;
}
.dark .projects .projectContainer .item{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border: 1px solid rgb(0, 0, 0);
}
.dark .projects .projectContainer .item:hover{
  border: 1px solid rgb(56, 56, 56);
}
.dark .boundary{
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 30px rgba(255, 255, 255, .2);
}
.boundary {
  transition: .5s;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 10%;
  margin-bottom: 10%;
  transform: translateX(-50%);
  width: 70%;
  height: fit-content;
  border-radius: 3px;
  padding: 0% 5%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255, 0.1);
}
@media (max-width: 1000px) {
  .boundary {
    top: 2%;
    width: 95%;
    background: transparent;
  }
}
.profilePic {
  text-align: center;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .profilePic {
    margin-top: 50px;
  }
}
.profilePic img {
  transition: .5s;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}
.profilePic img:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.profilePic .name {
  font-size: 40px;
  text-shadow: 0 0 2px rgb(54, 54, 54);
}
.profilePic .bio {
  font-size: 25px;
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.233);
}
.title {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
}
.projects .projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .projectContainer .item {
  transition: 0.5s;
  height: 300px;
  width: 400px !important;
  margin: 20px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}
.projects .projectContainer .item .title{
  transition: .3s;
}
.projects .projectContainer .item .about{
  transition: .5s;
}
.projects .projectContainer .item:hover {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.projects .projectContainer .item {
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  font-family: "ALegreya SC";
  line-height: 280px;
}
/* .skills .skillContainer .item {
  margin-bottom: 100px;
}
.skillContainer .item .name {
  display: inline-block;
  margin-left: 5%;
  width: 20%;
  margin-right: 20%;
  font-size: 20px;
}
.skillContainer .item .bar {
  display: inline-block;
  width: 50%;
  height: 20px;
  border-radius: 50px;
  margin-bottom: -3px;
}
.prog{
  background-color: black;
  width: 60%;
  height: 100%;
  border-radius: 50px;
}
.prog{
  animation: fulfill 3s;
}
@keyframes fulfill{
  0%{
    width: 0%;
  }
}
.cpp{
  width: 20%;
}
.python{
  width: 30%;
}
.js{
  width: 40%;
} */
.social{
  text-align: center;
  font-size: 20px;
}
.social a{
  font-size: larger;
}
.fa-envelope-open{
  font-size: 30px;
}
.fab, .far{     /* social media btn & up arrow */
  transition: .2s;
  font-size: 25px;
  margin: 20px;
}
.far{
  transition: .7s;
}
.fas{   /* moon & sun */
  font-size: 25px;
  cursor: pointer;
}
.fa-sun:hover{
  transition: transform .5s;
  transform: rotate(1080deg);
}
.fab:hover{
  transform: scale(1.5) rotate(360deg);
}
.far:hover{
  transform: rotate(540deg);
}
a{
  text-decoration: none;
  color: black;
}
#mode{
  margin: 20px 0px;
}


.about{
  line-height: 50px;
  margin: -220px 0px;
  padding: 20px;
  opacity: 0;
}

.item:hover .title{
  opacity: 0;
}

.item:hover .about{
  opacity: 1;
}