body{
  /* background-color: black; */
  font-family: 'Roboto Slab';
  font-weight: 300;
  /* color: white; */
  text-align: center;
  background-image: url('./assets/bg.jpg');
  transition: .5s;
}
#mainTitle{
  /* font-size: 100px; */
}

a{
  text-decoration: none;
  color: palevioletred;
}

